# *NOTE*: 'debian:bookworm-slim' provides a smaller base image with good compatibility.
# BASE_IMAGE_NAME=ubuntu
# BASE_IMAGE_VARIANT=latest
# LATEST=true

REPO_NAME=your_github_repository
REPO_NAMESPACE=your_github_username
GITHUB_TOKEN=your_github_token
